.form {
color: var(--white-color);
border-radius: 12px;
box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
background-color: rgba(21, 19, 19, 1);
width: max-content;
padding: 20px;
height: max-content;
}

.formTitle {
color: var(--button-color);
text-align: center;
padding-bottom: 15px;
}

.inputContainer {
    padding-bottom: 8px;
}

.inputContainer > label {
    font-size: 20px;
}
