.form {
  color: var(--white-color);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
  background-color: rgba(21, 19, 19, 1);
  width: max-content;
  padding: 20px;
  height: max-content;
}

.formTitle {
  color: var(--button-color);
  text-align: center;
  padding-bottom: 15px;
}

.inputContainer {
  padding-bottom: 8px;
}

.inputContainer > label {
  font-size: 20px;
}

.gameList {
  list-style: none;
  padding: 0;
}

.gameItem {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Add a subtle border */
}

.gameItem:last-child {
  border-bottom: none; /* Remove border on last item */
}

.gameInfo {
  margin: 0 10px;
}

/* .deleteButton {
  margin-left: 16px;
  color: white;
  background: red;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
} */

.gameListContainer {
  max-height: 220px; /* высота примерно под 5-6 элементов по 50-60px */
  overflow-y: auto;
  padding-right: 8px; /* чтобы не было наложения скролла на контент */
  margin-bottom: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  background-color: rgba(30, 30, 30, 0.6);
}
