.shop-container {
    display: flex;
    /* min-height: 70vh; */
    gap: 20px;
    padding: 20px;
}

.card-container {
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 50px;
}

.cart-container {
    flex: 3;
    background-color: rgba(21, 19, 19, 0.5);
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    color: var(--white-color);
    justify-items: center;
    height: fit-content;
    min-width: 250px;
}

@media (max-width: 1100px) {
    .card-container {
        flex: 5;
        margin: 20px;
        gap: 30px;
    }

    .cart-container {
        flex: 5;
    }
}

@media (max-width: 900px) {
    .card-container {
        flex: 3;
    }

    .cart-container {
        flex: 7;
    }
}

@media (max-width: 706px) {
    .card-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        
    }
    
    .shop-container {
        flex-direction: column;
    }

    .cart-container {
        margin: 30px;
    }
}

@media (max-width: 400px) {
    .cart-container {
        margin: 5px;
    }
}

@media (max-width: 300px) {
    .cart-container {
        min-width: 150px;
    }
}

