.shop-container {
    display: flex;
    min-height: 70vh;
    gap: 20px;
    padding: 20px;
}

.card-container {
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 50px;
}

.cart-container {
    flex: 3;
    background-color: rgba(21, 19, 19, 0.5);
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    color: var(--white-color);
    justify-items: center;
    height: fit-content;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        
    }
    
    .shop-container {
        flex-direction: column;
    }
}


